[dog]
dog-config-file-version = 2
minimum-version = 12
image=ghcr.io/rasmus-toftdahl-olesen/dog/centos-for-dog

[volumes-from]
tool1 = ghcr.io/rasmus-toftdahl-olesen/dog/volume-docker-integration-tests-tool1:latest
tool2:ro = ghcr.io/rasmus-toftdahl-olesen/dog/volume-docker-integration-tests-tool2:latest
